<table id="weapon-stats" class="table">
  <thead>
    <tr>
      <th></th>
      <th>Weapon</th>
      <th><a ng-click="orderWeapons = (orderWeapons == '-kills' ? 'kills' : '-kills')">Kills</a></th>
      <th><a ng-click="orderWeapons = (orderWeapons == '-hs' ? 'hs' : '-hs')"><abbr title="Headshots">HS</abbr></a></th>
      <th><a ng-click="orderWeapons = (orderWeapons == '-hs_percent' ? 'hs_percent' : '-hs_percent')"><abbr title="Headshot Percent">HS %</abbr></a></th>
    </tr>
  </thead>
  <tr ng-repeat="weapon in stats.weapons | orderBy:orderWeapons">
    <td style="text-align: left"><img class="weapon_img_invert" ng-src="img/weapons/icon-{{weapon.name}}_grey.png" ng-if="weapon.name" height="20"/></td>
    <td style="text-align: left">{{weapon.display_name}}</td>
    <td>{{weapon.kills}}</td>
    <td>{{weapon.hs}}</td>
    <td>{{weapon.hs_percent | number:2}}</td>
  </tr>
</table>
